/* Navbar */


*{
    color: var(--primary-color);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    background-color: var( --background-color);
    transition: all .40s ease;

}


.logo{
    font-size: 24px;
    font-weight: bold;
}


.navlist-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navlist-container ul li{
    margin: 0 20px;
    font-size: var(--font-text);
    font-weight: bold;
}

.navlist-container ul li a{
    text-decoration: none;

}

.account-container{
    display: flex;
    align-items: center;
}

.account-container .account-icon{
    color: var(--primary-color);
    margin-left: 30px;
    font-size: 24px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    padding: 1px 8px;

}

.cart-shopping{
    font-size: 24px;
}





/* HERO */

.section-hero{
    background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(155,158,167,1) 35%, rgba(37,43,66,1) 100%);
    width: 100%;
    height: 100vh;
    padding: 0 !important;

    transition: all .30s ease;

}


.hero-container{
    display: flex;
    height: 90%;
    flex-wrap: wrap;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


.hero-item{
    flex-grow: 1;
    width: 50%;
}


.text-hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

}

    .text-hero h1{
        font-size: 55px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .tittle-subtitule{
        font-size: 22px;
    }



.container-img img{
 width: 100%;
 height: 99%;
 object-fit: cover;
 padding-top: 15px;

}


.buttons-hero{
    margin-top: 40px;   
    display: flex;
    flex-wrap: wrap;
}

.btn-base{
    font-size: 24px;
    padding: 12px 30px;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
}

.btn-base {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all .30s ease;
}

.btn-principal-hero{
    margin-right: 20px;
    background-color: var(--primary-color);
}


    .btn-principal-hero:hover{
        background-color: transparent;
        color: var(--primary-color);

    }

.btn-secundary-hero{
    color: var(--primary-color);
}

.btn-secundary-hero:hover{
    background-color: var(--primary-color);
    color: var(--background-color);

}


/* Card styles */

.cards{
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.card-container{
    display: flex;
    justify-content: space-between;
}

.card-item{
    display: flex;
    background-color: #ffff;
    padding: 20px 25px;
    align-items: center;
    border: 2px solid rgba(37, 43, 66, 0.7);
    border-radius: 10px;
    margin-right: 15px;
    box-shadow: 3px 3px 5px rgba(37, 43, 66, 0.5);
    transition: all .30s ease;


}

.card-item-last{
    margin-right: 0px;
}


.card-item h3,p{
    color: var(--primary-color);
}

.card-item h3{
    margin-bottom: 10px;
    font-size: var(--font-text-2);
}

.card-item p{
    font-size: var(--font-text);
}

.card-icon span i{
    color: #ffff;
    font-size: 32px;
    background-color: var(--primary-color);
    padding: 23px 21px;
    border-radius: 50%;
    margin-right: 20px;

}


/* Categories */

.categories-section{
    background-color: var(--background-color);
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}


.categories-section button{
    padding: 12px 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: var(--font-text);
    background-color: var(--primary-color);
    color: #ffff;
    border-radius: 5px;
    font-weight: bold;
    border: 3px solid var(--primary-color);
    transition: all .30s ease;
}

.categories-section button:hover{
    color: var(--primary-color);
    background-color: var(--background-color);
    border: 3px solid var(--primary-color);
}

.title-categories{
    text-align: center;
    margin-bottom: 50px;
}

.title-categories h2{
    font-size: var(--font-h2);
    margin-bottom: 10px;
}

.title-categories p{
    font-size: var(--font-text);
}
.categories-container{
    display: flex;
    background-color: var(--background-color);
 

}
.categories-item{
    flex-grow: 1;
    margin: 5px;
    background-color: var(--background-color);
    height: 80vh;
    border-radius: 5px;
    transition: all .30s ease;

    /* Pruebas */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.category-main{
    width: 37%;
    background-image: url(../../public/img/menprueba.jpg);
    background-position: center;
    background-size: cover
}

.category-secundary{
    width: 30%;
    background-image: url(../../public/img/womenprueba.jpg);
    background-position: center;
    background-size: cover
}

.subcategories-container{
    background-color: var(--background-color);


    width: 30%;
    display: flex;
    flex-direction: column;
}

.subcategories{
    flex-grow: 1;
    background-color: #ffff;
    width: 100%;
    border-radius: 5px;

    /* Test */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}


.accesories{
    background-image: url(../../public/img/accesoriesprueba.jpg);
    background-position: center;
    background-size: cover
}

.subcategories-2{
    margin-top: 10px;
    background-image: url(../../public/img/nikesprueba.jpg);
    background-position: bottom;
    background-size: cover
}


/* HOME STORE */

.home-store_section{
    padding-top: 60px !important;
}

.title-home_store{
    text-align: center;
    margin-bottom: 30px;
}

.title-home_store H2{
    font-size: var(--font-h2);
    margin-bottom: 10px;
}

.title-home_store p{
    font-size: var(--font-text);
}


.articles-container{
    display: flex;
    flex-wrap: wrap;
}


.home-store-article{
    width: 23%;
    margin: 5px 10px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;


}

.home-store-article img{
    width: 100%;
    height: 65vh;
    object-fit: cover;
    border-radius: 3px;
}


.home-store-article_text{
text-align: center;
}

    .home-store-article_text h3{
        font-size: var(--font-text-2);
        margin-bottom: 3px;
    }
    .home-store-article_category{
        font-weight: 600;
        opacity: 60%;
    }

    .home-store-article_price{
        margin-top: 5px;
        font-weight: bold;
        margin-bottom: 20px;
    }


.home-store-article_button{
        padding: 8px 70px;
        text-decoration: none;
        font-size: var(--font-text);
        font-weight: bold;
        border-radius: 5px;
        border: 3px solid var(--primary-color);
        transition: all .30s ease;
    }    

    .home-store-article_button:hover{
        background-color: var(--primary-color);
        color: var(--background-color);
    }
/* MEDIA QUERYS */

@media (max-width: 1024px){
    .hero-container{
        flex-direction: column-reverse;
        
    }

    .container-img, .text-hero-container{
        width: 100%;
        align-items: center;
    }

    .card-container{
        flex-direction: column;
    }
}


